@import './normalize.scss';
@import './color.scss';

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&family=Belleza&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap');

$primary-color: #ea37a3;
$secondary-color: #ff5e6c;
$text-primary: #000;
$text-secondary: #00000080;

:root {
    --primary-color: #ff5e6c;
    --secondary-color: #ea37a3;
    --text-primary: #000;
    --text-secondary: #00000080;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', 'Open Sans', sans-serif;
}

.custom-scrollbar {
    overflow: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar-track {
        border: 1px solid var(--text-color);
        background-color: var(--background-color);
    }

    &::-webkit-scrollbar {
        width: 10px;
        background-color: var(--background-color);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--text-secondary);
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: var(--text-primary);
    }
}
