

$primary : #ea37a3
$secondary   : #ff5e6c
$accent : #9C27B0

$textprimary: #000
$textsecondary: #ddd

$dark      : #1D1D1D

$positive  : #21BA45
$negative  : #C10015
$info      : #31CCEC
$warning   : #F2C037

$white: #fff
$black: #000